rewriteEngine on
RewriteBase /

RewriteCond $1 !^(index\.php|images|fonts|plugin|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpg|jpeg|css|js|html)$ [NC]
RewriteRule ^(.*)$ index.php/$1 [L]
